# Секретные файлы
.env

# Системные файлы
.idea/
Thambs.db

# Логи и временные файлы
/logs/
/tmp/
*.log
*.cache

# Файлы БД
*.sql  # Игнорируем все файлы кроме этих двух
!database/schema.sql # Файл структуры БД
!database/tests_data.sql # Файл тестовых данных для БД